/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-hera-catalog-course {
	color: #000;
	padding: 2px;
	&.catalog-course {
		.card-body {
			&.understrap-read-more-link {
				display: none !important;
			}
		}
	}

	#load-more .loader {
		display: none;
	}

	.course-format-item {
		position: relative;
		width: 180px;
		height: 120px;
		margin: 5px;
		float: left;
		border: 2px solid #50bcf2;
		box-sizing: border-box;
		padding: 0;

		input {
			position: absolute;
			top: 0;
			left: 0;
			width: 180px;
			height: 120px;
			opacity: 0;
			cursor: pointer;
		}

		div {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			line-height: 25px;
			transition: .5s ease;
		}

		input[type=radio]:checked ~ div {
			background-color: #50bcf2;
		}
	}

	.course-style-item {
		position: relative;
		width: 30px;
		height: 30px;
		margin: 5px;
		float: left;
		border: 2px solid #50bcf2;
		box-sizing: border-box;
		padding: 0;

		input {
			position: absolute;
			top: 0;
			left: 0;
			width: 180px;
			height: 120px;
			opacity: 0;
			cursor: pointer;
		}

		div {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			line-height: 25px;
			transition: .5s ease;
		}

		input[type=radio]:checked ~ div {
			background-color: #50bcf2;
		}

		.icon {
			font-size: 1em;
		}
	}

	.icon {
		display: inline-block;
		font: normal normal normal 2em/1 FontAwesome;
		font-size: 2em;
		text-rendering: auto;
	}
	.icon.synchronous:before {
		content: "\f109";
	}
	.icon.inperson:before {
		content: "\f0c0";
	}
	.icon.asynchronous:before {
		content: "\f19d";
	}
	.icon.hybrid:before {
		content: "\f0ac";
	}
	.icon.grid:before {
		content: "\f009";
	}
	.icon.list:before {
		content: "\f03a";
	}

	.course-institution {
		height: 300px;

		&.alverno {
			background: url("../../../../images/alverno.svg") no-repeat;
		}
		&.bryantstratton {
			background: url("../../../../images/bryantstratton.png") no-repeat;
		}
		&.carroll {
			background: url("../../../../images/carroll.svg") no-repeat;
		}
		&.carthage {
			background: url("../../../../images/carthage.svg") no-repeat;
		}
		&.concordia {
			background: url("../../../../images/concordia.svg") no-repeat;
		}
		&.gateway {
			background: url("../../../../images/gateway.png") no-repeat;
		}
		&.herzing {
			background: url("../../../../images/herzing.svg") no-repeat;
		}
		&.marquette {
			background: url("../../../../images/marquette.svg") no-repeat;
		}
		&.matc {
			background: url("../../../../images/matc.png") no-repeat;
		}
		&.miad {
			background: url("../../../../images/miad.jpeg") no-repeat;
		}
		&.msoe {
			background: url("../../../../images/msoe.svg") no-repeat;
		}
		&.mtmary {
			background: url("../../../../images/mtmary.png") no-repeat;
		}
		&.uwm {
			background: url("../../../../images/uwm.svg") no-repeat;
		}
		&.uwp {
			background: url("../../../../images/uwp.png") no-repeat;
		}
		&.uww {
			background: url("../../../../images/uww.svg") no-repeat;
		}
		&.wctc {
			background: url("../../../../images/wctc.svg") no-repeat;
		}
		&.wlc {
			background: url("../../../../images/wlc.png") no-repeat;
		}
	}

	.catalog-course {
		.course-institution {
			background-size: auto 4.5vh;
			width: 100%;
			height: 10vh;
			background-position: center center;

			&.carroll {
				background-size: auto 4vh;
			}
			&.herzing {
				background-size: auto 16vh;
			}
			&.marquette, &.matc, &.msoe {
				background-size: auto 10vh;
			}
			&.uwp {
				background-size: auto 3vh;
			}
			&.wctc {
				background-size: auto 3.5vh;
			}
		}
	}

	.list {
		.course-item {
			padding: 1rem;
			.course-actions {
				text-align: right;
				align-self: center;
			}
		}
	}

	.grid {
		display: flex;
		flex-flow: row wrap;
		gap: 5%;
		.card {
			width: 30%;
			margin-right: 0;
			.course-actions {
				margin-left: 16px;
				margin-bottom: 3vh
			}
		}
	}

	.course-modal-container {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;

		display: none;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 100%;

		background: hsla(0, 0%, 0%, .8);

		&:target{
			display: flex;
		}

		.course-modal {
			width: 60rem;
			padding: 4rem 2rem;
			border-radius: .8rem;

			color: black;
			background: white;
			box-shadow: .4rem .4rem 2.4rem .2rem hsla(236, 50%, 50%, 0.3);
			position: relative;

			overflow: hidden;

			.course-modal-headings {
				text-align: left;
				margin-top: 2rem;

				.course-data {
					.course-title {
						font-size: 3.2rem;
					}

					.offered-by {
						height: auto;
						display: inline-flex;
						.course-institution {
							margin-left: 10px;
							background-size: auto 30px;
							background-position: left;
							width: 200px;
							height: 30px;
						}
					}

					.course-meta {
						display: flex;
						flex-flow: row wrap;
						gap: 5%;
						flex-grow: 1;

						.meta-item {
							width: 45%;
							padding-right: 1rem;
							padding-top: 10px;
							color: #414141;
							.meta-name {
								font-weight: bold;
							}
							p {
								padding-bottom: 0;
								margin-bottom: 0;
							}
						}
					}
				}
			}

			.course-modal-details {
				padding-bottom: 1.5rem;
				border-bottom: 1px solid hsla(0, 0%, 0%, 0.4);
			}

			.course-modal-btn {
				margin: 1rem 0;
				padding: 1rem 1.6rem;
				border: 1px solid hsla(0, 0%, 0%, 0.4);
				border-radius: 100rem;

				color: inherit;
				background: transparent;
				font-size: 1.2rem;
				font-family: inherit;

				transition: .2s;
				cursor: pointer;

				a {
					color: black;
				}

				&:hover, &:focus{
					border-color: hsla(0, 0%, 0%, 0.6);
					transform: translateY(-.2rem);
				}

			}

			.link-2 {
				width: 4rem;
				height: 4rem;

				color: inherit;
				font-size: 2.2rem;

				position: absolute;
				top: 2rem;
				right: 2rem;

				display: flex;
				justify-content: center;
				align-items: center;

				transition: .2s;

				&::before {
					content: '×';

					transform: translateY(-.1rem);
				}

				&:hover, &:focus {
					border-color: hsla(0, 0%, 100%, .6);
					transform: translateY(-.2rem);
				}
			}
		}
	}
}
