
:root{
  --primary-color: #9BDBF3;
  --secondary-color: #A1C962;
  --third-color: #EFCA60;
  --fourth-color:#000;
  --fifth-color: #fff;
  --sixth-color: #ececec;
  --seventh-color: #36697C;
  --heading-font: "venice-blvd", sans-serif;
  --paragraph-font: "myriad-pro", sans-serif;
}

p {
  font-family: var(--paragraph-font);
  font-weight:  400;
  font-style: normal;
  font-size: 1em ;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--heading-font);
  font-weight: 600;
  font-size:2em !important;
}

.footer-widget{
  text-align: left !important;
}


body, header, footer{
  background-color: var(--fifth-color);
  color: var(--fourth-color);
  font-family: var(--paragraph-font);

}


.img-fluid{
  height: auto;
  width: 60%;
}

/*navigation*/

.navbar {
  border-bottom: 5px solid transparent;
  border-image: linear-gradient( to right, var(--primary-color), var(--secondary-color)) 1;
  width:100%;
  padding:0;

}

.navbar-nav{
  font-size:1.1em;
}

.navbar-toggler:focus, .dropdown-menu{
  box-shadow: none;
}


.bg-primary {
  --bs-bg-opacity: 0;
  background-color: var(--fifth-color);
  color: var(--fourth-color);

}


body .container{
  width:100%;
}



/*hera goals block*/

.hera-goals{
  text-align: center;

}

.goals-students {
  background-color: var(--primary-color);
  max-width: 120%;
}

.goals-students h2, .goals-program h2, .goals-employers h2 {
  font-size:1.6em !important;
}

.goals-students p, .goals-program p, .goals-employers p{
  font-size:1em !important;
  padding:1.5% !important;
}

.goals-program{
  background-color: var(--secondary-color);
}



.goals-employers{
  background-color: var(--third-color);
}

.wp-block-columns{
  gap:0
}




/* members slider */

.gs_logo_single, .carousel-slider__item{
  border: 5px solid transparent;
  border-image: linear-gradient( to right, var(--primary-color), var(--secondary-color)) 1;
  padding: 5%;
  width:180px;
  border-radius: 20%;

}
.swiper-slide, .carousel-slider__item{
  height:auto;
  margin: .5%;
  padding: .5%;

}




/* Footer*/

#wrapper-footer-full{

  background-color: var(--fifth-color);
  border-top: 5px solid transparent;
  border-image: linear-gradient( to right, var(--primary-color), var(--secondary-color)) 1;
  width:100%;
}


.bridging-the-gap{
  background-color:var(--fifth-color);
  position:relative;
  align-content: center;
  font-size: 2.5em;
  padding: 1%;
  margin: 3%;
  display:flex;
  letter-spacing:10px;
  font-weight: lighter;
  text-transform: uppercase;

}



/* mobile Device*/


@media all and (max-width:30em){
  .bridging-the-gap{
    width:50%;
    font-size:1em;
    align-items: center;
    align-content: center;
  }

  .navbar-brand{
    width:70%;
  }

  .navbar{
    display: flex;
  }


  .yellow-button, .green-button, .blue-button, .yellow-button-secondary, .green-button-secondary, .blue-button-secondary{
    display:block;
    margin:0.6em auto;
    max-width: 100%;
    border-radius: 3em;
    padding:5em;
  }

  .wp-block-button__width-50{
    width:100% !important;
  }



  .search-bar-background{
    padding: .5%;
  }

  .wp-block-search__inside-wrapper  {
    width: 100% !important;
  }

  input[type="submit" ]{
    border-image-width:0;
    padding: .51em 1.2em;
    margin: 0 .3em .3em 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

  }

}




/*about hera page*/

.about-hera{
 font-size: .5em;
  height: auto;

}


.data-is-clear{
  border-radius: 50%;
  background-color: var(--primary-color);
  padding:10%;
  font-size:2em;

}

.students-data{
  border: 2px solid var(--secondary-color);
  border-radius: 25% 10%;
  padding:3%;

}

.students-education{
  background-color: var(--sixth-color);
  padding:3%;
}

/*buttons*/

.wp-block-button__link, .wp-block-button:where(.is-style-outline)>.wp-block-button__link{
  border:none !important;
  font-family: var(--heading-font);
  font-weight: 600;
  text-decoration:none;
  text-align: center;

}

.yellow-button {
  background-color: var(--third-color);
  color: var(--fourth-color);
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  border: 3px solid transparent;
}

.yellow-button:hover, .blue-button:hover,.green-button:hover {
  background-color: var(--fifth-color);
  border: 3px solid var(--fourth-color);
}


.blue-button{
  background-color: var(--primary-color);
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  border: 3px solid transparent;

}

.home-btn {
  .wp-block-button__link {
    color: black !important;
  }
}


.green-button{
  background-color: var(--secondary-color);
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  border: 3px solid transparent;

}

.yellow-button-secondary{
  background-color: transparent;
  color: var(--fourth-color);
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  border: 3px solid black;
}

.yellow-button-secondary:hover{
  background-color: var(--third-color);
  border: 3px solid var(--fourth-color);

}

.blue-button-secondary{
  background-color: transparent;
  color: var(--fourth-color);
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  border: 3px solid black;

}

.blue-button-secondary:hover{
  background-color: var(--primary-color);
  border: 3px solid var(--fourth-color);
}


.green-button-secondary {
  background-color: transparent;
  color: var(--fourth-color);
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  border: 3px solid black;

}


.green-button-secondary:hover{
  background-color: var(--secondary-color);
  border: 3px solid var(--fourth-color);
}


/* Search Widget*/

.search-bar-background{
  background-color: var(--seventh-color);
  padding: 1%;
}


.wp-block-search__button
{
  color: var(--fourth-color);
  background-color: var(--third-color);
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border: 1px solid var(--third-color);
  border-radius: 2em;

}


.wp-block-search__input{
  padding: 1.05em 1.2em !important;
  color:var(--fourth-color);

}


  /* Email Newsletter*/

input[type="submit" ] {
  background-color: var(--third-color);
  color: var(--fourth-color);
  padding:9px 1.2em;
  margin:0 0.3em 0.3em 0;
  border-image-width: 0;
  border:transparent;
  border-bottom-right-radius: 2em;
  border-top-right-radius: 2em;


}

input[type="submit"]:hover{
  background-color: var(--primary-color);
}


input[type="email"]{
  padding: 7px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

}


/* Email Logo  */

.email-logo{

  background-color: var(--primary-color) !important;


}

/*  logo margin*/

.logo-margin img{
  margin-top:0 !important;
}

/* unnecessary paddings*/

.wp-block-columns{
  margin-bottom: 0;
}

.wrapper{
  padding: 1% 0;
}

.wp-block-heading{
  padding:0;
}

.wp-block-search__label .screen-reader-text{
  color: var(--fourth-color);
  font-weight: bold;
}

/* Print CSS*/

@media print {

  nav{
    display: none;
  }

  #block-14{
    display: none;
  }

  .img-fluid{
    width:30%;
  }

  #wrapper-footer-full{
    font-size:1em;
  }

}

/****** Single course catalog page *********/
.course-institution {
  height: 300px;

  &.alverno {
    background: url("../images/alverno.svg") no-repeat;
  }
  &.bryantstratton {
    background: url("../images/bryantstratton.png") no-repeat;
  }
  &.carroll {
    background: url("../images/carroll.svg") no-repeat;
  }
  &.carthage {
    background: url("../images/carthage.svg") no-repeat;
  }
  &.concordia {
    background: url("../images/concordia.svg") no-repeat;
  }
  &.gateway {
    background: url("../images/gateway.png") no-repeat;
  }
  &.herzing {
    background: url("../images/herzing.svg") no-repeat;
  }
  &.marquette {
    background: url("../images/marquette.svg") no-repeat;
  }
  &.matc {
    background: url("../images/matc.png") no-repeat;
  }
  &.miad {
    background: url("../images/miad.jpeg") no-repeat;
  }
  &.msoe {
    background: url("../images/msoe.svg") no-repeat;
  }
  &.mtmary {
    background: url("../images/mtmary.png") no-repeat;
  }
  &.uwm {
    background: url("../images/uwm.svg") no-repeat;
  }
  &.uwp {
    background: url("../images/uwp.png") no-repeat;
  }
  &.uww {
    background: url("../images/uww.svg") no-repeat;
  }
  &.wctc {
    background: url("../images/wctc.svg") no-repeat;
  }
  &.wlc {
    background: url("../images/wlc.png") no-repeat;
  }
}

.offered-by {
  height: auto;
  display: inline-flex;
  .course-institution {
    margin-left: 10px;
    background-size: auto 30px;
    background-position: left;
    width: 200px;
    height: 30px;
  }
}

.course-meta {
  display: flex;
  flex-flow: row wrap;
  gap: 5%;
  flex-grow: 1;
  margin-bottom: 1em;

  .meta-item {
    width: 45%;
    padding-right: 1rem;
    padding-top: 10px;
    color: #414141;
    .meta-name {
      font-weight: bold;
    }
    p {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}

#sp-ea-268.sp-easy-accordion>.sp-ea-single>.ea-header a {
  background-color: #9BDBF3;
}

.blue-spacer {
  background-color: #9BDBF3;
  margin-bottom: 1.5em;
}

.green-spacer {
  background-color: #A1C962;
  margin-bottom: 1.5em;
}

.yellow-spacer {
  background-color: #EFCA60;
  margin-bottom: 1.5em;
}

.wp-block-media-text {
  margin-top: 10px;
}


.stm_lms_courses__single::before {
  content: 'Dive into a world of knowledge and discovery as you explore our artificial intelligence course designed to inspire and empower you on your learning journey. Our featured course is curated to ignite your curiosity and passion for AI, and provide you with valuable insights and practical knowledge that you can apply in your professional development. Explore our course and embark on a transformative learning experience in AI literacy!';
  line-height: 25px;

}
.stm_lms_courses__single__inner {
  margin-top: 20px;
}
.stm_lms_course__image {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
}

.stm_lms_course__image .wp-post-image {
  width: 50%;
  height: 80%;

}

.stm-lms-wrapper .nav.nav-tabs>li.active a {
  background: #9BDBF3;
  font-weight: 700;
}
.stm-lms-wrapper .nav.nav-tabs>li a:hover {
  background: #A1C962;
}
.masterstudy-curriculum-list__wrapper .masterstudy-curriculum-list__section {
  background: #EFCA60;
  padding: 10px
}

.masterstudy-curriculum-list__section .masterstudy-curriculum-list__toggler {
  background: #9BDBF3;
}
.stm-lms-course__sidebar .stm-lms-course-info__single:first-child {
  display:none !important;
}

.stm_lms_courses__single--image, .stm_lms_courses__single--image__container {
  height: 500px
}
body .stm_lms_courses__single--image .stm_lms_courses__single--image__container{
  height: 500px;
}

.stm_lms_courses__single--image__container .wp-post-image{
  height: 500px
}

/*.page-id-48 .alignfull {
	padding: 3rem 15%;
}*/

.page-id-24 .btn.btn-primary, .page-id-24 .wp-block-hera-catalog-course .course-modal-container .course-modal .course-modal-btn {
  background-color: var(--third-color);
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border: 1px solid var(--third-color);
  border-radius: 2em;
}

.page-id-24 .btn.btn-primary:hover {
  filter: brightness(.95);
}

.page-id-24 .btn.btn-outline-secondary {
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  color: var(--fourth-color);
  border: 1px solid var(--fourth-color);
}

.button-wrapper .yellow-btn-secondary {
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  color: var(--fourth-color);
  border: 1px solid var(--fourth-color);
  cursor: pointer;
}

.button-wrapper .yellow-btn-secondary:hover {
  background-color: var(--primary-color);
  color: var(--fourth-color);
  border: 1px solid var(--fourth-color);
  cursor: pointer;
}

.page-id-24 .form-control {
  padding: 1.3em 1.2em;
  border-radius: 0.375em;
}

.accordion {
  --bs-accordion-active-color: var(--fourth-color);
  --bs-accordion-border-color: #8cc5db;
  --bs-accordion-btn-active-icon-color: black;
}

.wp-block-hera-catalog-course .course-format-item {
  border-color: var(--primary-color) !important;
  border-radius: 0.375em;
}

.wp-block-hera-catalog-course input[type=radio]:checked ~ div {
  background-color: var(--primary-color) !important;
}

.wp-block-hera-catalog-course .course-style-item {
  border-color: var(--primary-color) !important;
  border-radius: 0.375em;
}

.page-id-24 .card {
  --bs-card-border-color: rgba(0,0,0,.2);
}

.page-id-24 h1, .page-id-44 h1 {
  font-size: calc(1.375rem + 1.5vw);
}

.page-id-24 h2, .page-id-44 h2 {
  font-size: calc(1.325rem + .9vw);
}

.page-id-24 h3, .page-id-44 h3 {
  font-size: calc(1.3rem + .6vw);
}

.page-id-24 h5 {
  font-size: 1.25em;
}

.wp-block-hera-catalog-course .course-modal-container .course-modal .course-modal-headings .course-data .course-title {
  font-size: calc(1.3rem + .6vw) !important;
}

.page-id-24 .wp-block-hera-catalog-course .course-modal-container .course-modal .course-modal-btn {
  margin-top: 1em;
  font-size: 1.1em;
}

.page-id-42 .contact-for-more {
  background-color: rgba(0,0,35,0.1);
  padding: 3.5em;
  position: relative;
}

body .category-hera-connect-newsletter{
  padding: 20px;
}
body .category-all-news{
  padding: 20px
}

h2.has-background {
  padding: 0.25em 0.375em!important;
  font-size: 3rem;
}

.post-24 .blue-spacer {
  margin-bottom: 1em;
}

.post-24 .wp-block-image>figure img, .post-24 figure.wp-block-image img {
  margin-top: 0;
}

.search-section h2 {
  font-size: 1.5em;
}
figure.wp-block-image img {
  margin-top: 0;
  margin-bottom: 0;
}

.align-full-padding{
  padding-left: 75px;
}

/* or .goal-block-column */
.wp-block-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.masterstudy-curriculum-list__section .masterstudy-curriculum-list__toggler {
  background: #efca60;
}
h2.has-background {
  font-size: 2rem;
}
p.about.has-background {
  margin: 0 10%;
}
body .category-all-news .wp-block-button:where(.is-style-outline)>.wp-block-button__link:not(.has-background){
  background-color: #9BDBF3;
  border: 3px solid transparent !important;

}
body .category-all-news .wp-block-button:where(.is-style-outline)>.wp-block-button__link:not(.has-background):hover{
  background-color: #fff;
  border: 3px solid #000 !important;

}
body .category-hera-connect-newsletter .wp-block-button:where(.is-style-outline)>.wp-block-button__link:not(.has-background){
  background-color: #9BDBF3;
  border: 3px solid transparent!important;

}
body .category-hera-connect-newsletter .wp-block-button:where(.is-style-outline)>.wp-block-button__link:not(.has-background):hover{
  background-color: #fff;
  border: 3px solid #000 !important;
}
h2.wp-block-heading.about-heading {
  margin-top: 50px;
}
figure.wp-block-image figcaption {
  margin-left: 20%;
}
p.about-paraph {
  margin-left: 2%;
}

.masterstudy-authorization {
  width: 500px;
  margin: 100px auto;
  border: 5px solid #9BDBF3;
  padding: 50px 20px;
  border-radius: 20px;
}

@media screen and (max-width: 780px) {
  .masterstudy-authorization {
    width:400px;
  }
}
.masterstudy-authorization__header{
  justify-content: center
}

body .masterstudy-authorization__actions .masterstudy-button, body .masterstudy-authorization__instructor-already-actions a {
  width: 146px;
  background: #EFCA60 !important;
  border-radius: 50px;

}
body .masterstudy-authorization__actions .masterstudy-button .masterstudy-button__title, body .masterstudy-authorization__instructor-already-actions .masterstudy-button .masterstudy-button__title {
  color: black !important;
  font-weight: bold;
  font-size: 18px;
}

.goal-item-students {
  background-color: var(--primary-color);
}

.goal-item-institutional {
  background-color: var(--secondary-color);
}

.goal-item-employers {
  background-color: var(--third-color);
}

@media screen and (max-width: 780px){
  .footer-widget .wp-block-column {
    margin: auto;
    text-align: center;
  }

  .footer-widget .wp-block-heading {
    text-align: center;
  }
  /*Mariana's footer changes */
  img.wp-image-93, p.bridging-the-gap, .wp-block-column.is-vertically-aligned-top.is-layout-flow.wp-block-column-is-layout-flow, .wp-block-columns.row.align-items-start.is-layout-flex.wp-container-core-columns-is-layout-7.wp-block-columns-is-layout-flex {
    display: block;
    margin: 0 auto;
  }
  .has-text-align-left {
    text-align: center;
  }
  #footer-full-content .row {
    flex-direction: column-reverse
  }
  .wp-block-social-links {
    width: 100%;
    justify-content: center;
    gap: 50px;
  }
  .wp-social-link {

  }
  /*Mariana's footer changes end*/

}

#sortBy{
  flex: 100%
}
#searchKey{
  flex: 100%
}

.archive h2:hover, .blog h2:hover {
  color: #23527c;
  text-decoration: underline
}

.logged-out {
  display: none;
}

.entry-content .logged-in {
  width: 146px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  background: #EFCA60;
  border-radius: 50px;
  color: black;
  font-weight: bold;
  font-size: 18px;
}
.posted-on{
  display: none;
}
.byline{
  display: none;
}

.masterstudy-authorization {
  max-width: 100%!important;
}
.fa-user:before {
  color: #fff;

}
.log-in-button {
  font-family: venice-blvd, sans-serif;
  color: #fff;
  width: 50px;
}
.log-out-button{
  font-family: venice-blvd, sans-serif;
  color: #fff;
  width: 60px;
}
.widget .widget_nav_menu{
  margin-top: 10px;
  width: 50%!important;
}

@media screen and (max-width: 920px) and (min-width: 780px){
  .fa-lg{
    font-size: .9em;
  }

}

@media screen and (max-width: 400px){

  body .widget .widget_nav_menu{
    margin-right: 5px;
  }
}
#mc4wp-form-1{
  display:block;
  text-align: center;
}
.wisconsin-quote p:first-of-type{
  padding: 2% 2% 0 2%!important;
}

.hera-partners-images {
  text-align: center;
}