
:root{
  --primary-color: #9BDBF3;
  --secondary-color: #A1C962;
  --third-color: #EFCA60;
  --fourth-color:#000;
  --fifth-color: #fff;
  --sixth-color: #ececec;
  --seventh-color: #36697C;
  --heading-font: "venice-blvd", sans-serif;
  --paragraph-font: "myriad-pro", sans-serif;
}

p {
  font-family: var(--paragraph-font);
  font-weight:  400;
  font-style: normal;
  font-size: 1em ;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--heading-font);
  font-weight: 600;
  font-size:2em !important;
}

.footer-widget{
  text-align: left !important;
}


body, header, footer{
  background-color: var(--fifth-color);
  color: var(--fourth-color);
  font-family: var(--paragraph-font);

}


.img-fluid{
  height: auto;
  width: 60%;
}

/*navigation*/

.navbar {
  border-bottom: 5px solid transparent;
  border-image: linear-gradient( to right, var(--primary-color), var(--secondary-color)) 1;
  width:100%;
  padding:0;

}

.navbar-toggler:focus, .dropdown-menu{
  box-shadow: none;
}


.bg-primary {
  --bs-bg-opacity: 0;
  background-color: var(--fifth-color);
  color: var(--fourth-color);

}


body .container{
  width:100%;
}



/*hera goals block*/

.hera-goals{
  text-align: center;

}

.goals-students {
  background-color: var(--primary-color);
  max-width: 120%;
}

.goals-program{
  background-color: var(--secondary-color);
}


.goals-employers{
  background-color: var(--third-color);
}

.wp-block-columns{
  gap:0
}




/* members slider */

.gs_logo_single, .carousel-slider__item{
  border: 5px solid transparent;
  border-image: linear-gradient( to right, var(--primary-color), var(--secondary-color)) 1;
  padding: 5%;
  width:180px;
  border-radius: 20%;

}
.swiper-slide, .carousel-slider__item{
  height:auto;
  margin: .5%;
  padding: .5%;

}




/* Footer*/

#wrapper-footer-full{

  background-color: var(--fifth-color);
  border-top: 5px solid transparent;
  border-image: linear-gradient( to right, var(--primary-color), var(--secondary-color)) 1;
  width:100%;
}


.bridging-the-gap{
  background-color:var(--fifth-color);
  position:relative;
  align-content: center;
  font-size: 2.5em;
  padding: 1%;
  margin: 3%;
  display:flex;
  letter-spacing:10px;
  font-weight: lighter;
  text-transform: uppercase;

}



/* mobile Device*/


@media all and (max-width:30em){
  .bridging-the-gap{
    width:50%;
    font-size:1em;
    align-items: center;
    align-content: center;
  }

  .navbar-brand{
    width:70%;
  }

  .navbar{
    display: flex;
  }


  .yellow-button, .green-button, .blue-button, .yellow-button-secondary, .green-button-secondary, .blue-button-secondary{
    display:block;
    margin:0.4em auto;
    max-width: 100%;
  }

  .wp-block-button__width-50{
    width:100% !important;
  }


  .search-bar-background{
    padding: .5%;
  }

  .wp-block-search__inside-wrapper  {
    width: 100% !important;
  }

}




/*about hera page*/

.about-hera{
 font-size: .5em;
  height: auto;

}


.data-is-clear{
  border-radius: 50%;
  background-color: var(--primary-color);
  padding:10%;
  font-size:2em;

}

.students-data{
  border: 2px solid var(--secondary-color);
  border-radius: 25% 10%;
  padding:3%;

}

.students-education{
  background-color: var(--sixth-color);
  padding:3%;
}

/*buttons*/

.wp-block-button__link, .wp-block-button:where(.is-style-outline)>.wp-block-button__link{
  border:none !important;
  font-family: var(--heading-font);
  font-weight: 600;
  text-decoration:none;
  text-align: center;

}

.yellow-button {
  background-color: var(--third-color);
  color: var(--fourth-color);
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  border: 3px solid transparent;
}

.yellow-button:hover, .blue-button:hover,.green-button:hover {
  background-color: var(--fifth-color);
  border: 3px solid var(--fourth-color);
}


.blue-button{
  background-color: var(--primary-color);
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  border: 3px solid transparent;

}


.green-button{
  background-color: var(--secondary-color);
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  border: 3px solid transparent;

}

.yellow-button-secondary{
  background-color: transparent;
  color: var(--fourth-color);
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  border: 3px solid black;
}

.yellow-button-secondary:hover{
  background-color: var(--third-color);
  border: 3px solid var(--fourth-color);

}

.blue-button-secondary{
  background-color: transparent;
  color: var(--fourth-color);
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  border: 3px solid black;

}

.blue-button-secondary:hover{
  background-color: var(--primary-color);
  border: 3px solid var(--fourth-color);
}


.green-button-secondary {
  background-color: transparent;
  color: var(--fourth-color);
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  border: 3px solid black;

}


.green-button-secondary:hover{
  background-color: var(--secondary-color);
  border: 3px solid var(--fourth-color);
}


/* Search Widget*/

.search-bar-background{
  background-color: var(--seventh-color);
  padding: 1%;
}


.wp-block-search__button
{
  color: var(--fourth-color);
  background-color: var(--third-color);
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border: 1px solid var(--third-color);
  border-radius: 2em;

}


.wp-block-search__input{
  padding: 1.05em 1.2em !important;
  color:var(--fourth-color);

}


  /* Email Newsletter*/

input[type="submit" ] {
  background-color: var(--third-color);
  color: var(--fourth-color);
  padding:0.6em 1.2em;
  margin:0 0.3em 0.3em 0.65em;
  border:transparent;

}

input[type="email"]{
  padding:4%;
}


/* Email Logo  */

.email-logo{

  background-color: var(--primary-color) !important;


}

/*  logo margin*/

.logo-margin img{
  margin-top:0 !important;
}

/* unnecessary paddings*/

.wp-block-columns{
  margin-bottom: 0;
}

.wrapper{
  padding: 1% 0;
}

.wp-block-heading{
  padding:0;
}

.wp-block-search__label .screen-reader-text{
  color: var(--fourth-color);
  font-weight: bold;
}

